/*
!/.gitignore
!/.github
!/config
!/donate_list.json
!/defaultconfigs
!/kubejs
!/mods
!/LICENSE
!/ModList0.4a.md
!/README.md
!/icon.png
!/server-icon.png
!/tacz
!/hotai
!/TODOlist.md
!/ldlib
!/pack.toml
!/index.toml
!/resourcepacks
!/.packwizignore
!/.hmclversion.cfg
!/.clientonlymodlist
!/.options.txt
!/DevGuide.md
!/client_jvm_args.example.txt
!/shaderpacks
!/start.bat
!/start.sh
!/variables.txt
!/minemenu
!/schematics
!/PCL
