/*
# 忽略当前目录下所以文件
# 反选不忽略的文件夹和文件

!/.gitignore
!/alexsmobs
!/fancymenu
!/iceandfire
!/jei
!/*lightman*
!/modernui
!/openloader
# !/sound_physics_remastered
!/starterkit
!/trades
!/bountiful
!/bettercombat
!/alexsmobs.toml
!/alexscaves_biome_generation
!/dynamiccrosshair.json5
!/carryon-client.toml
!/carryon-common.toml
!/curios-client.toml
!/curios-common.toml
!/ftbquests
!/netherexp-common.toml
!/refurbished_furniture.server.toml
!/create*
!/*delight*
!/*xaero*
!/iceandfire-client.toml
!/iceandfire-common.toml
!/improvedmobs
!/butchercraft-common.toml
!/shouldersurfing-client.toml
!/tacz
!/tacz-common.toml
!/treechop-common.toml
!/waystones-common.toml
!/vinery
!/quark-common.toml
!/vintageimprovements*
xaerominimap_entities.json
!/ad_astra*
!/sereneseasons
!/chat_heads.json5
!/xbob.json
!/the_bumblezone
!/farmersrespite-common.toml
!/biomemusic.json
!/colorfulhearts.toml
!/alexscaves-client.toml
!/DistantHorizons.toml
!/itemborders-common.toml
!/supplementaries-common.toml
!/supplementaries-client.toml