/*
# 忽略当前目录下所以文件
# 反选不忽略的文件夹和文件

!/.gitignore
!/acceleratedrendering-client.toml
!/alexsmobs
!/attributeslib.cfg
!/fancymenu
!/iceandfire
!/jei
!/modernui
!/openloader
# !/sound_physics_remastered
!/starterkit
!/trades
!/bountiful
!/bettercombat
!/ae2
!/alexsmobs.toml
!/alexscaves_biome_generation
!/dynamiccrosshair.json5
!/c2me.toml
!/carryon-common.toml
!/collectorsreap-common.toml
!/curios-client.toml
!/curios-common.toml
!/eclipticseasons-common.toml
!/ftbquests
!/netherexp-common.toml
!/refurbished_furniture.server.toml
!/iceandfire-client.toml
!/iceandfire-common.toml
!/imblocker-client.toml
!/imblocker.json
!/improvedmobs
!/butchercraft-common.toml
!/pickupnotifier
!/shouldersurfing-client.toml
!/skinlayers.json
!/tacz
!/tacz-common.toml
!/tips.json
!/treechop-common.toml
!/watut-server.toml
!/waystones-common.toml
!/vinery
!/quark-common.toml
!/vintageimprovements-client.toml
xaerominimap_entities.json
!/world-gen.json
!/youkaishomecoming-common.toml
!/ad_astra*
!/chat_heads.json5
!/xbob.json
!/the_bumblezone
!/farmersrespite-common.toml
!/colorfulhearts.toml
!/alexscaves-client.toml
!/DistantHorizons.toml
!/itemborders-common.toml
!/supplementaries-common.toml
!/supplementaries-client.toml
!/vvaddon.toml
!/fml.toml
!/alexscaves-general.toml
!/simplebackups-common.toml
!/bcc-common.toml
!/biome_replacer.properties
!/NoChatReports
/NoChatReports/*
!/NoChatReports/NCR-Client.json
!/iris_shader_folder.properties
!/advancements_tracker-client.toml
!/kaleidoscope_doll-common.toml
!/GeneralFeedback
!/generalfeedback-common.toml
!/create_cyber_goggles.toml
!/canary.properties
!/tab
!/Obscuria