name: 发布服务端包
run-name: ${{ github.actor }} 正在发布服务端新版本🚀
on:
  push:
    branches:
      - test-server
      - release

jobs:
  Release:
    runs-on: ubuntu-latest
    name: 发布🚀
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          path: main
      - name: 读取整合包名
        uses: SebRollen/toml-action@v1.2.0
        id: read-modpackname
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'name'
      - name: 读取整合包版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-version
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'version'
      - name: 读取mc版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-minecraft
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'versions.minecraft'
      - name: 读取forge版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-forge
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'versions.forge'
      - name: 生成整合包nightly构建后缀
        id: set_version_prefix
        run: |
          if [[ $GITHUB_REF != refs/heads/release ]]; then
            VERSION_SUFFIX="-nighly-build-${{ github.run_number }}"
            echo "VERSION_SUFFIX=$VERSION_SUFFIX" >> $GITHUB_OUTPUT
          else
            echo "VERSION_SUFFIX=" >> $GITHUB_OUTPUT
          fi
      - name: 删除与服务端无关的文件
        run: |
            # mapfile -t prefixes < ${{ github.workspace }}/main/.packwizignore
            # for prefix in "${prefixes[@]}"; do
            #   echo "Deleting files with prefix: $prefix"
            #   find ${{ github.workspace }}/main -name "${prefix}*" -exec rm {} +
            # done
            rm -f ${{ github.workspace }}/main/ModList0.4a.md
            rm -f ${{ github.workspace }}/main/README.md
            rm -f ${{ github.workspace }}/main/TODOlist.md
            rm -f ${{ github.workspace }}/main/KubeJSStyleGuide.md
            rm -f ${{ github.workspace }}/main/DevGuide.md
            rm -f ${{ github.workspace }}/main/pack.toml
            rm -f ${{ github.workspace }}/main/index.toml
            rm -f ${{ github.workspace }}/main/client_jvm_args.example.txt
      - name: Read and delete mods
        run: |
            mapfile -t prefixes < ${{ github.workspace }}/main/.clientonlymodlist
            for prefix in "${prefixes[@]}"; do
              echo "Deleting files with prefix: $prefix"
              find ${{ github.workspace }}/main/mods -name "${prefix}*" -exec rm {} +
            done
      - name: 根据pack.toml的整合包版本替换服务安装脚本配置
        env:
          MODPACK: ${{ steps.read-version.outputs.value }}
        run: |
          sed -i "s/^MODPACK_VERSION=.*/MODPACK_VERSION=$MODPACK/" ${{ github.workspace }}/main/variables.txt
          grep '^MODPACK_VERSION=' ${{ github.workspace }}/main/variables.txt
      - name: 下载forge与ServerStarterJar
        env:
          MINECRAFT: ${{ steps.read-minecraft.outputs.value }}
          FORGE: ${{ steps.read-forge.outputs.value }}
        run: |
          FORGE_URL="https://maven.minecraftforge.net/net/minecraftforge/forge/$MINECRAFT-$FORGE/forge-$MINECRAFT-$FORGE-installer.jar"
          SERVER_JAR_URL="https://github.com/neoforged/ServerStarterJar/releases/latest/download/server.jar"
          echo "$FORGE_URL"
          echo "$SERVER_JAR_URL"
          curl -L -o "${{ github.workspace }}/main/forge-$MINECRAFT-$FORGE-installer.jar" "$FORGE_URL"
          curl -L -o ${{ github.workspace }}/main/server.jar "$SERVER_JAR_URL"
      - name: 服务端启动bat脚本改为CRLF
        run: |
          unix2dos ${{ github.workspace }}/main/start.bat
      - name: list remained files & mods
        run: |
          ls ${{ github.workspace }}/main
          ls ${{ github.workspace }}/main/mods
      - name: 上传带mod包
        uses: actions/upload-artifact@v4
        with:
          name: "Server-${{ steps.read-modpackname.outputs.value }}-${{ steps.read-version.outputs.value }}${{ steps.set_version_prefix.outputs.VERSION_SUFFIX }}"
          path: ${{ github.workspace }}/main
      # TODO：改成用server.jar安装
      # - name: 安装forge
      #   run: |
      #     cd ${{ github.workspace }}/main && java -jar forge-$MINECRAFT-$FORGE-installer.jar nogui --installServer
      # - name: 上传带forge核心的包
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: SELF-USE-ONLY-DONT-DISTRIBUTE-${{ steps.read-modpackname.outputs.value }}-${{ steps.read-version.outputs.value }}${{ steps.set_version_prefix.outputs.VERSION_SUFFIX }}-server
      #     path: ${{ github.workspace }}/main
      # - name: list file
      #   run: |
      #     ls ${{ github.workspace }}/main
      - run: echo "🍏 This job's status is ${{ job.status }}."
