name: 发布服务端包
run-name: ${{ github.actor }} 正在发布服务端新版本🚀
on:
  push:
    branches:
      - test-release
      - release

jobs:
  Release:
    runs-on: ubuntu-latest
    name: 发布🚀
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          path: main
      - name: 读取整合包名
        uses: SebRollen/toml-action@v1.2.0
        id: read-modpackname
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'name'
      - name: 读取整合包版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-version
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'version'
      - name: 读取mc版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-minecraft
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'versions.minecraft'
      - name: 读取forge版本号
        uses: SebRollen/toml-action@v1.2.0
        id: read-forge
        with:
          file: ${{ github.workspace }}/main/pack.toml
          field: 'versions.forge'
      - name: 输出版本号和包名
        run: |
          echo ${{ steps.read-modpackname.outputs.value }}
          echo ${{ steps.read-version.outputs.value }}
          echo ${{ steps.read-forge.outputs.value }}
          echo ${{ steps.read-minecraft.outputs.value }}
      - name: 生成整合包nightly构建后缀
        id: set_version_prefix
        run: |
          echo ${{ steps.read-modpackname.outputs.value }}
          echo ${{ steps.read-version.outputs.value }}
          if [[ $GITHUB_REF == refs/heads/test-release ]]; then
            VERSION_SUFFIX=$(date +%m%d%H%M)
            echo "VERSION_SUFFIX=-$VERSION_SUFFIX" >> $GITHUB_OUTPUT
          else
            echo "VERSION_SUFFIX=" >> $GITHUB_OUTPUT
          fi
      - name: 删除与服务端无关的文件
        run: |
            mapfile -t prefixes < ${{ github.workspace }}/main/.packwizignore
            for prefix in "${prefixes[@]}"; do
              echo "Deleting files with prefix: $prefix"
              find ${{ github.workspace }}/main -name "${prefix}*" -exec rm {} +
            done
            rm ${{ github.workspace }}/main/pack.toml
            rm ${{ github.workspace }}/main/index.toml
            rm ${{ github.workspace }}/main/client_jvm_args.example.txt
      - name: Read and delete mods
        run: |
            mapfile -t prefixes < ${{ github.workspace }}/main/.clientonlymodlist
            for prefix in "${prefixes[@]}"; do
              echo "Deleting files with prefix: $prefix"
              find ${{ github.workspace }}/main/mods -name "${prefix}*" -exec rm {} +
            done
      - name: 重命名server相关文件
        run: |
          mv ${{ github.workspace }}/main/.user_jvm_args.example.txt ${{ github.workspace }}/main/user_jvm_args.example.txt
          mv ${{ github.workspace }}/main/.HOW-TO-RUN.md ${{ github.workspace }}/main/HOW-TO-RUN.md
          mv ${{ github.workspace }}/main/.install_java.ps1 ${{ github.workspace }}/main/install_java.ps1
          mv ${{ github.workspace }}/main/.install_java.sh ${{ github.workspace }}/main/install_java.sh
          mv ${{ github.workspace }}/main/.start.bat ${{ github.workspace }}/main/start.bat
          mv ${{ github.workspace }}/main/.start.ps1 ${{ github.workspace }}/main/start.ps1
          mv ${{ github.workspace }}/main/.start.sh ${{ github.workspace }}/main/start.sh
          mv ${{ github.workspace }}/main/.variables.txt ${{ github.workspace }}/main/variables.txt
      - name: 根据pack.toml的mc与forge版本替换服务安装脚本配置
        run: |
          sed -i "s/^MINECRAFT_VERSION=.*/MINECRAFT_VERSION=$MINECRAFT/" ${{ github.workspace }}/main/variables.txt
          sed -i "s/^MODLOADER_VERSION=.*/MODLOADER_VERSION=$FORGE/" ${{ github.workspace }}/main/variables.txt
          grep 'MINECRAFT_VERSION=' ${{ github.workspace }}/main/variables.txt
          grep 'MODLOADER_VERSION=' ${{ github.workspace }}/main/variables.txt
      - name: list remained files & mods
        run: |
          ls ${{ github.workspace }}/main
          ls ${{ github.workspace }}/main/mods
      - name: 上传带mod包
        uses: actions/upload-artifact@v4
        with:
          name: "Server-${{ steps.read-modpackname.outputs.value }}-${{ steps.read-version.outputs.value }}${{ steps.set_version_prefix.outputs.VERSION_SUFFIX }}"
          path: ${{ github.workspace }}/main
      - name: 下载forge
        env:
          MINECRAFT: ${{ steps.read-minecraft.outputs.value }}
          FORGE: ${{ steps.read-forge.outputs.value }}
        run: |
          URL="https://maven.minecraftforge.net/net/minecraftforge/forge/$MINECRAFT-$FORGE/forge-$MINECRAFT-$FORGE-installer.jar"
          echo "$URL"
          curl -L -o ${{ github.workspace }}/main/forge-installer.jar "$URL"
      - name: 安装forge
        run: |
          cd ${{ github.workspace }}/main && java -jar forge-installer.jar nogui --installServer
      - name: 上传带forge核心的包
        uses: actions/upload-artifact@v4
        with:
          name: SELF-USE-ONLY-DONT-DISTRIBUTE-${{ steps.read-modpackname.outputs.value }}-${{ steps.read-version.outputs.value }}${{ steps.set_version_prefix.outputs.VERSION_SUFFIX }}-server
          path: ${{ github.workspace }}/main
      - name: list file
        run: |
          ls ${{ github.workspace }}/main
      - run: echo "🍏 This job's status is ${{ job.status }}."
